# This file contains the main workflow for the ubuntu-22.04-gitea-runner-worker project.
name: Main Workflow

on:
  push:
    branches: [ master ]

env:
  REGISTRY: gitea.p-lao.com

jobs:

  # This job builds and pushes the Docker image to the Gitea registry.
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Gitea Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_TOKEN }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: gitea.p-lao.com/p-lao/ubuntu-node-apps:latest
